<sk-dashboard-layout>

  <sk-navigation-bar>

    <sk-brand route="/">StandardKit</sk-brand>

    <sk-spacer></sk-spacer>

    <sk-avatar>plaatje en default icon iets met onclick een menutje</sk-avatar>

  </sk-navigation-bar>

  <sk-sidebar>
    <sk-navigation>
      <sk-navigation-item>Dashboard</sk-navigation-item>
      <sk-divider></sk-divider>
      <h2 slot="title">Detail dingen titel</h2>
      <sk-navigation-item>Statistics</sk-navigation-item>
      <sk-navigation-item>
        Articles
        <sk-navigation-item>Subarticle page</sk-navigation-item>
        <sk-navigation-item>Create article</sk-navigation-item>
      </sk-navigation-item>


    </sk-navigation>
    <sk-spacer></sk-spacer>
    <sk-navigation>
      Footer navigation
    </sk-navigation>
  </sk-sidebar>

  <router-outlet></router-outlet>

</sk-dashboard-layout>

