<sk-dashboard-layout>

  <sk-navigation-bar color="primary" fill="fill" sidebarToggleIcon="menu">

    <sk-brand route="/"><sk-image src="/assets/standardkit-icon.png" alt="StandardKit"></sk-image>StandardKit</sk-brand>

  </sk-navigation-bar>

  <sk-sidebar>
    <sk-navigation>
      <sk-navigation-item icon="home" route="/">Dashboard</sk-navigation-item>
      <sk-navigation-item route="/other"><i class="mdi mdi-home" slot="icon"></i>Abracadabra</sk-navigation-item>
    </sk-navigation>
  </sk-sidebar>

  <router-outlet></router-outlet>

</sk-dashboard-layout>

