<sk-title [heading]="1">Home</sk-title>

<sk-title>fill="plain"</sk-title>
<sk-alert type="error" [fullWidth]="true" fill="plain">Error alert</sk-alert>
<sk-alert type="warning" [fullWidth]="true" fill="plain">Warning alert</sk-alert>
<sk-alert type="success" [fullWidth]="true" fill="plain">Success alert</sk-alert>
<sk-alert type="info" [fullWidth]="true" fill="plain">Info alert</sk-alert>

<sk-title>fill="fill"</sk-title>
<sk-alert type="error" [fullWidth]="true" fill="fill">Error alert</sk-alert>
<sk-alert type="warning" [fullWidth]="true" fill="fill">Warning alert</sk-alert>
<sk-alert type="success" [fullWidth]="true" fill="fill">Success alert</sk-alert>
<sk-alert type="info" [fullWidth]="true" fill="fill">Info alert</sk-alert>

<sk-title>fill="outline"</sk-title>
<sk-alert type="error" [fullWidth]="true" fill="outline">Error alert</sk-alert>
<sk-alert type="warning" [fullWidth]="true" fill="outline">Warning alert</sk-alert>
<sk-alert type="success" [fullWidth]="true" fill="outline">Success alert</sk-alert>
<sk-alert type="info" [fullWidth]="true" fill="outline">Info alert</sk-alert>

<sk-title>Padding</sk-title>
<sk-alert type="error" padding="xs" [fullWidth]="true" fill="outline">Error alert</sk-alert>
<sk-alert type="warning" padding="s" [fullWidth]="true" fill="outline">Warning alert</sk-alert>
<sk-alert type="success" padding="m" [fullWidth]="true" fill="outline">Success alert</sk-alert>
<sk-alert type="info" padding="l" [fullWidth]="true" fill="outline">Info alert</sk-alert>
<sk-alert type="weird" padding="xl" [fullWidth]="true" fill="outline">Error alert</sk-alert>

<sk-title>Margin</sk-title>
<sk-alert type="error" margin="xs" [fullWidth]="true" fill="outline">Error alert</sk-alert>
<sk-alert type="warning" margin="s" [fullWidth]="true" fill="outline">Warning alert</sk-alert>
<sk-alert type="success" margin="m" [fullWidth]="true" fill="outline">Success alert</sk-alert>
<sk-alert type="info" margin="l" [fullWidth]="true" fill="outline">Info alert</sk-alert>
<sk-alert type="error" margin="xl" [fullWidth]="true" fill="outline">Error alert</sk-alert>

<sk-title>Icon alignment</sk-title>
<sk-alert type="error" [fullWidth]="true" alignIcon="bottom" alignDismiss="top"
          [dismissable]="true">Lorem ipsum dolor sit amet,
  consectetur adipisicing elit. Aperiam aut doloribus ducimus enim harum molestias officiis possimus, quaerat
  reprehenderit sint, unde veritatis voluptate. A ab alias aliquam architecto delectus distinctio, earum ex id illum
  impedit inventore magni molestiae odit perferendis perspiciatis quisquam rerum sapiente unde. Exercitationem id quidem
  sequi vero.
</sk-alert>
<sk-alert type="error" [fullWidth]="true" alignIcon="middle" alignDismiss="middle"
          [dismissable]="true">Lorem ipsum dolor sit amet,
  consectetur adipisicing elit. Aperiam aut doloribus ducimus enim harum molestias officiis possimus, quaerat
  reprehenderit sint, unde veritatis voluptate. A ab alias aliquam architecto delectus distinctio, earum ex id illum
  impedit inventore magni molestiae odit perferendis perspiciatis quisquam rerum sapiente unde. Exercitationem id quidem
  sequi vero.
</sk-alert>
<sk-alert type="error" [fullWidth]="true" alignIcon="top" alignDismiss="bottom"
          [dismissable]="true">Lorem ipsum dolor sit amet,
  consectetur adipisicing elit. Aperiam aut doloribus ducimus enim harum molestias officiis possimus, quaerat
  reprehenderit sint, unde veritatis voluptate. A ab alias aliquam architecto delectus distinctio, earum ex id illum
  impedit inventore magni molestiae odit perferendis perspiciatis quisquam rerum sapiente unde. Exercitationem id quidem
  sequi vero.
</sk-alert>

<sk-title>Custom type from single color</sk-title>
<sk-alert type="hot" [fullWidth]="true" fill="plain">Warning alert</sk-alert>
<sk-alert type="hot" [fullWidth]="true" fill="outline">Warning alert</sk-alert>
<sk-alert type="hot" [fullWidth]="true" fill="fill">Warning alert</sk-alert>

<sk-title>Custom type from map</sk-title>
<sk-alert type="weird" [fullWidth]="true" fill="plain">Warning alert</sk-alert>
<sk-alert type="weird" [fullWidth]="true" fill="outline">Warning alert</sk-alert>
<sk-alert type="weird" [fullWidth]="true" fill="fill">Warning alert</sk-alert>
