/* You can add global styles to this file, and also import other style files */

/** Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/** Theme */
@import '~@standardkit/themes/scss/default/theme';
@import '~@standardkit/themes/scss/default/font';


$colors: (
  hot: hotpink,
  weird: (
    primary: #3b065d,
    secondary: #e85858,
    contrast: #ffcd15
  )
);

/** Styles */
@import '~@standardkit/styles/scss/style';
