/* You can add global styles to this file, and also import other style files */

/** Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/** Theme */
@import '~@standardkit/themes/scss/default/theme';

$colors: (
  error: purple,
  hot: hotpink,
  primary: (
    primary: #ffce33,
    secondary: #ff0000,
    contrast: #030303,
  )
);

$titleFont: 'Roboto Slab', sans-serif;
$textFont: 'Open Sans', sans-serif;

$fonts: (
  title: $titleFont,
  text: $textFont
);

/** Styles */
@import '~@standardkit/styles/scss/style';
